<table class="contentpaneopen">
    <tbody>
        <tr>
            <td valign="top" colspan="2">
                <p><span style="font-size: 10pt; line-height: 150%; font-family: 'Trebuchet MS'">
                        <font style="font-size: 20px" color="#000000">&nbsp;<img
                                src="frontend/images/stories/tiuk/green/Arrow1.jpg" alt=" " width="21"
                                height="21">&nbsp; <a name="top" title="top"></a>Build a corporate partnership with
                            TI-UK</font>
                    </span></p>
                <p><span style="font-size: 10pt; line-height: 150%; font-family: 'Trebuchet MS'">
                        <font color="#000000">If you would like to build a partnership with TI-UK, please <strong><a
                                    href="/for-companies">click here</a></strong>
                            for more information.</font>
                    </span></p>
                <p><span style="font-size: 10pt; line-height: 150%; font-family: 'Trebuchet MS'"><span
                            style="color: windowtext"><a href="#top"></a></span></span></p>

            </td>
        </tr>
    </tbody>
</table>